:root{
    --fondo_nav : #EFA3C8;
    --black : black;
    --white : white;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Header */
header img {
    width: 13rem;
}

.bg-header{
    background-color: black;
}

.social-icons img{
    width: 3rem;
}

.nav2{
    background-color: var(--fondo_nav);
    height: 8vh;
}

.nav2 li{
    list-style: none;
}

.nav2 a {
    border-bottom: 2px solid transparent;
    position: relative;
}

.nav2 a:before {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: black;
    transition: width 0.3s ease-out;
    transform-origin: left;
}

.nav2 a:hover:before {
    width: 100%;
    transition: width 0.3s ease-out;
    transform-origin: right;
}

/* Main del home */
main{
    background-image: url(../assets/1848-color-pastel.jpg);
    background-size: contain;
}

.carousel1 img {
    max-height: 70vh;
    filter: grayscale(70%);
}

#carousel {
    position: relative;
}

#carousel .overlay {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

#carousel .overlay .container, #carousel .overlay .row {
    height: 100%;
}

/* info juguetes */
#info-juguetes img{
    width: 80%;
    height: 19rem;
    margin: 2rem 2rem;
    border-radius: 5rem;
}

.imagenes-carrousel1{
    width: 70%;
}

.btnjuguetes {
    width: 8rem;
}

/* footer */
footer img{
    width: 6rem;
}

.footerdiv{
    display: flex;
    justify-content: space-around;
}

[v-cloak] {
    display: none;
}
